body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.home-container {
    margin-top: 80px;
    background: rgba(51, 51, 51, 1);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden !important;

    .active {
        display: block !important;
    }

    .page-1 {
        overflow: hidden;
        height: 100%;
        // margin-bottom: 80px;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 80px;
    
            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 3em;
                flex-wrap: wrap;
            }

            @media screen and (max-width: 1492px) {
                .bottom-half {
                    margin-top: -100px;
                }
            }
            @media screen and (max-width: 919px) {
                .mid-half {
                    margin-top: -100px;
                }
            }
        }
    

        .blurb {
            width: 80%;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            justify-content: space-around;
            height: 850px;
            
            .nico-picture {
                border-radius: 25%;
                max-height: 700px;
                max-width: 700px;
            }
            @media screen and (max-width: 1100px) {
                .nico-picture {
                    max-height: 350px;
                    max-width: 350px;
                }
            }
            
            .content {
                p {
                    color: whitesmoke;
                    align-self: center;
                    width: 60%;
                    // margin-top: -50px;
                }

                .arrow-info {
                    margin-top: 25px;
                }

                .svg-container {
                    margin: -80px 0 0 -60px;
                }

                @media screen and (max-width: 1120px) {
                    .svg-container {
                        margin-top: -350px;
                    }
                }
                @media screen and (max-width: 919px) {
                    .svg-container {
                        margin-left: -100px;
                    }
                }

                #arrow-icon-svg:hover {
                    cursor: pointer;
                    filter: invert(50%) sepia(86%) saturate(1871%) hue-rotate(158deg) brightness(90%) contrast(101%);
                }
            }
        }
        @media screen and (max-width: 1500px) {
            .blurb {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -100px;

                .nico-picture {
                    max-height: 600px;
                    max-width: 600px;
                }
    
                .content {
                    display: flex;
                    flex-direction: row;
                    margin-top: -200px;
                    
                    .arrow-info {
                        width: 15%;
                        margin: 0px 50px;
                    }

                    .svg-container {
                        margin: 0 270px 0 -350px;
                    }
                }
            }
        }

        @media screen and (max-width: 1050px) {
            .blurb {
                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: -100px;

                    .arrow-info {
                        margin: 0;
                    }

                    .svg-container {
                        margin: 0 270px 0 -400px;
                    }
                }
            }
        }
    }

    .page-2 {
        overflow: hidden;
    }
}

@media screen and (max-width: 828px) {
    .home-container {
        .page-1 {
            .title {
                div h1:last-child {
                    display: none;
                }
            }
        }
    }
}
