body {
    background: rgb(36, 41, 51);
}

.cards-container {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;

    .projects-title{ 
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        top: 80px;

        @media screen and (max-width: 1702px) {
            .last-row {
                margin-top: -70px;
            }
        }
        @media screen and (max-width: 1243px) {
            .third-row {
                margin-top: -70px;
            }
        }
        @media screen and (max-width: 726px) {
            .second-row {
                margin-top: -70px;
            }
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 2em;
            flex-wrap: wrap;
        }
    }

    .project-imgs {
        width: 70%;
        position: relative;
        height: 50%;

        img {
            max-width: 80%;
            bottom: 0;
            left: 10%;
            position: absolute;
            display: none;
        }
        .expat-img {
            display: block;
        }
    }
    .projects {
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
        justify-content: center;
        height: 100%;
        width: 30%;
    }
    
    @media screen and (max-width: 1702px) {
        .project-imgs, .projects {
            margin-top: -70px;
        }
        .project-imgs img {
            max-width: 800px;
        }
    }
    @media screen and (max-width: 1600px) {
        .project-imgs img {
            max-width: 700px;
            height: 400px;
        }
    }
    @media screen and (max-width: 1430px) {
        .project-imgs img {
            max-width: 600px;
            height: 400px;
        }
    }

    .project-link {
        text-decoration: none;

            span {
                color: rgb(141, 46, 46);
                text-align: center;
                width: 100%;
                display: block;
                text-align: left;
                margin-top: 30px;
                font-size: 2rem;
                border-bottom: 2px solid silver;
            }
    }
    .project-link:hover {
        background-color:rgba(123, 125, 128, 0.247);
    } 
}

