body {
  font-family: 'Permanent Marker', cursive;
}
.tank-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tank-container .tank {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 10px #d4d0d0;
  background: #056ce2;
  overflow: hidden;
  position: relative;
}
.tank-container .tank .bubble {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #8b8b91;
  animation-name: floater;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  transition: ease;
  position: absolute;
}
.tank-container .tank .bubble .tint {
  width: 20%;
  height: 20%;
  background: rgba(243, 241, 241, 0.411);
  position: absolute;
  top: 25%;
  right: 25%;
  border-radius: 50%;
}
.tank-container .tank .bubble:nth-child(even) {
  animation-name: floater1;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  transition: ease;
  position: absolute;
}
.tank-container .tank .bubble:nth-child(even) .tint {
  width: 20%;
  height: 20%;
  background: rgba(243, 241, 241, 0.411);
  position: absolute;
  top: 25%;
  right: 25%;
  border-radius: 50%;
}
.tank-container .explanation {
  top: 10%;
  left: 15%;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  font-size: 2rem;
  color: #3eda00;
  background-color: rgba(52, 52, 54, 0.74);
}
.tank-container .blurb {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 30%;
  text-align: justify;
  font-size: 2rem;
  color: #d6da00;
  background-color: rgba(52, 52, 54, 0.74);
  border-radius: 5%;
}
.tank-container .next-btn {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 80%;
  right: 10%;
}
.tank-container .contact-next {
  color: #3eda00;
  font-size: 1.5rem;
  background-color: rgba(52, 52, 54, 0.74);
}
.tank-container .contact-next:hover {
  cursor: pointer;
}
.tank-container .svg-container {
  position: absolute;
  top: -100px;
  left: -300px;
}
.tank-container #arrow-icon-svg:hover {
  cursor: pointer;
  filter: invert(50%) sepia(86%) saturate(1871%) hue-rotate(158deg) brightness(90%) contrast(101%);
}
@keyframes floater {
  0% {
    top: 550px;
  }
  5% {
    transition: ease;
    opacity: 1;
  }
  90% {
    opacity: 1;
    transition: ease;
  }
  100% {
    top: -550px;
    opacity: 0;
    transition: ease;
  }
}
@keyframes floater1 {
  0% {
    top: 550px;
  }
  5% {
    transition: ease;
    opacity: 1;
  }
  90% {
    opacity: 1;
    transition: ease;
  }
  100% {
    top: -550px;
    opacity: 0;
    transition: ease;
  }
}
