body {
  font-family: 'Permanent Marker', cursive;
}


.page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  overflow-y: scroll;
  scrollbar-width: none;
}

.next-btn {
  margin-left: 50px;;
  width: 60%;
  position: relative;
}

.next-btn p {
  font-size: 30px;
}

.next-btn .svg-container {
  position: absolute !important;
  height: auto !important;
  width: auto !important;
  top: -150px;
  left: 850px;
}

.next-btn .svg-container:hover {
  cursor: pointer;
  color: blue;
  background-color: rgba(0, 0, 255, 0.205);
  border-radius: 9999999px;
  overflow: auto;
}