body {
  background: #242933;
}
.cards-container {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 80px;
  overflow: hidden;
}
.cards-container .projects-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 80px;
}
.cards-container .projects-title div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  flex-wrap: wrap;
}
.cards-container .project-imgs {
  width: 70%;
  position: relative;
  height: 50%;
}
.cards-container .project-imgs img {
  max-width: 80%;
  bottom: 0;
  left: 10%;
  position: absolute;
  display: none;
}
.cards-container .project-imgs .expat-img {
  display: block;
}
.cards-container .projects {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  height: 100%;
  width: 30%;
}
.cards-container .project-link {
  text-decoration: none;
}
.cards-container .project-link span {
  color: #8d2e2e;
  text-align: center;
  width: 100%;
  display: block;
  text-align: left;
  margin-top: 30px;
  font-size: 2rem;
  border-bottom: 2px solid silver;
}
.cards-container .project-link:hover {
  background-color: rgba(123, 125, 128, 0.247);
}
