body {
  background: #242933;
}
.cards-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 80px;
  justify-content: space-around;
}
.cards-container .project-link {
  text-decoration: none;
}
.cards-container .project-link .project {
  height: 350px;
  width: 700px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #b9b7b7;
  border-radius: 10%;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}
.cards-container .project-link .project img {
  object-fit: cover;
  transform-origin: top center;
  height: 150px;
  width: 700px;
  margin-bottom: 5px;
}
.cards-container .project-link .project span {
  color: #8d2e2e;
  text-align: center;
  width: 100%;
  display: block;
}
.cards-container .project-link .project p {
  text-align: justify;
  margin: 10px 15px 0;
  color: black;
}
.cards-container .project-link .project:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
